.appContainer {

  max-width: 1500px;
  margin: 50px auto;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: Arial, sans-serif;

}

.mainContent {

  padding: 0px; 

}